
*{
	padding: 0;
	margin: 0;
}
/*
	NAV BAR CSS CODE 
	*/
body{
	background-color: #F0EADC;
}


ul{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	widows: 1174px;
	margin: 30px;
   
}
li{
	list-style: none;
	

}

	

a{
	text-decoration: none;
}
.sehlvet{
	

	margin-right: auto;
	

}
.sehlvet a{
color: #2F2F2F;
font-family: Playfair Display;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}



.nav-content a{
color: #2F2F2F;
font-family: Playfair Display;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;


}
.nav-content{
	
   margin: 12px;



}

.bookmark{
width: 24.52px;
height: 30px;
flex-shrink: 0;
margin-right: 15px;
margin-left: 300px;



}
.shopping-bag{
width: 28.356px;
height: 30px;
flex-shrink: 0;


}

.cir{
	
	position: absolute;
}

#hidden-nav{
	display: none;
	}
	.menu-open{
		display: none;
	}


	/*
	TRENDING COLLECTIONS CSS CODE GOES HERE 
	*/
img{
	width: 100%;

}
.border-div{
border-radius: 16px;
border: 1px solid #754F23;
background: #F0EADC;
margin: auto;

}
	.parent-collections{
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

	.child-collections{
		margin: 20px;
       border-radius: 16px;
	}


	.price-txt{

color: #2F2F2F;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
	}

.money{

color: #2F2F2F;
font-family: Playfair Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: strikethrough;

	}

	.price span{
		margin: 5px;
	}
	.bag{
		
		margin-left: auto;
	}

	.child-collections p{

color: #2F2F2F;
font-family: Playfair Display;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 20px;
margin-bottom: 50px;
	}


.heading {
		
		margin: 35px;
	}

.trending{
color: #2F2F2F;
font-family: Wilkysta;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.collections{
color: #2F2F2F;
font-family: Wilkysta;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.text{
color: #2F2F2F;
font-family: Playfair Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 138.889% */
}

.price{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
======================WEBSITE ADAPTABILITY====================
*/


 @media screen and (max-width: 1174px){
/*
NAV BAR ADAPTABILITY CODE
*/

ul{
	flex-wrap: wrap;

}

.nav-content{
	display: none;
}

.menu-open{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: red;
}

.menu-open{
	position: relative;
 }

/*
NAV BAR ADAPTABILITY CODE ENDS HERE
*/


}
